:root {
    --site-header: #383c46;
    --site-main-background: #ffffff;
    --site-color-font: antiquewhite;
    --site-color-bg-main: #c5c0c0af ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    background: var(--site-color-bg-main);
}
