:root {
    --site-header: #383c46;
    --site-main-background: #ffffff;
    --site-color-font: antiquewhite;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    width: 100%;
    background-image: linear-gradient(0deg, rgba(40, 40, 40, 0.645), rgba(40, 40, 40, 0.645)),  url(../assent/img/AnalisisSistemas.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}