:root {
    --site-header: #383c46;
    --site-main-background: #ffffff;
    --site-color-font: antiquewhite;
    --site-color-bg-main: #c5c0c0af;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nosotros {
    background: var(--site-color-bg-main);
}
.hero {
    background-image:linear-gradient(0deg, rgba(34, 30, 30, 0.5), rgba(34, 30, 30, 0.5)), url(../assent/img/42517.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.servicios {
 max-width: 400px;
}

.form {
    background-image: url(../assent/img/AnalisisSistemas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15px;
    padding-top: 5px;
    border-radius: 30px;

}



.foto {
    display: flex;
    justify-content: center;
}
.fotoperfil {
    width: 65%;
    height: fit-content;
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 50%;
    
}
.fotoperfilLeo {
    
    width: 50%;
    height: 50px;
    height: fit-content;
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 50%;
    
}
.contenedor {
    background:linear-gradient(to right, grey, white);
}

