<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../assent/favicons/tripleW.png">
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/bootstrap.min.css">
    <title>Leo</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">Consultora Informática</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark"
                    aria-labelledby="offcanvasNavbarDarkLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Servicios</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../nostros.html">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../galery.html">Galeria</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../contacto.html">Contacto</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Redes
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Facebook</a></li>
                                    <li><a class="dropdown-item" href="#">Instagram</a></li>
                                    <li><a class="dropdown-item" href="#">linkedIn</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="contenedor">
        <div class="row d-flex flex-row align-items-center justify-content-around">
            <section class="box col-12 col-md-4">
                <picture class="foto m-4">
                    <img src="../../assent/img/perfiles/Leo2.jpg" alt="Foto de perfil" srcset="" class="fotoperfilLeo" height="60px" width="60px">
                </picture>
                <h2 class="text-center">Leonarod Toledo</h2>
                <p class="px-4">Formar parte de una empresa en la que pueda <span class="fw-bold">poner en práctica todos mis conocimientos</span>, que
                me brinde la oprtunidad de alcanzar todas mis metas trazadas y que me ofresca la oprtunidad de crecer en el área laboral, personal e intelectualmente.</p>
            </section>
            <section class="box col-12 col-md-8">
                <h1 class="text-center text-decoration-underline">Perfil técnico</h1>
                <p class="px-4">Fácil adaptación a los cambios, trabajo en equipo, de comunicación fluida, resposable.</p>
                <h3 class="text-center text-decoration-underline">Formación</h3>
                <p class="px-4">Técnico en big data <span class="fw-bold">(CODO A CODO)</span>, manejo de base de datos, desarrollador midware. control de desarrollo, gestion de procesos.</p>
                    <h4 class="text-center text-decoration-underline">Tecnologías</h4>
                <ul class="d-flex flex-row flex-wrap align-items-baseline justify-content-around flex-grow-1">
                    <li class="list-group"><img src="../../assent/favicons/icons8-javascript.gif" alt="" srcset=""></li>
                    <li class="list-group"><img src="../../assent/favicons/icons8-html-48.png" alt=""></li>
                    <li class="list-group"><img src="../../assent/favicons/icons8-css-48.png" alt="" srcset=""></li>
                    <li class="list-group"><img src="../../assent/favicons/icons8-python.gif" alt="" srcset=""></li>
                </ul>
                <div class="d-sm-none d-md-block">
                    <h4 class="text-center text-decoration-underline">Contactos</h4>
                    <ul class="d-flex flex-row flex-wrap align-items-baseline justify-content-around flex-grow-1">
                        <li class="list-group"><a href=""><img src="../../assent/favicons/facebook.svg" alt="" srcset=""></a></li>
                        <li class="list-group"><a href=""><img src="../../assent/favicons/linkedin.svg" alt="" srcset=""></a></li>
                        <li class="list-group"><a href=""><img src="../../assent/favicons/envelope-at-fill.svg" alt=""></a></li>
                        <li class="list-group"><a href=""><img src="../../assent/favicons/whatsapp.svg" alt=""></a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <footer class="d-none d-md-block navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../../assent/favicons/word.png" alt="" width="50px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item dropup">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Herramientas</a>
                    </li>
                    <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Equipo
                        Técnico</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="eze.html">Ezequiel Schepke</a></li>
                        <li><a class="dropdown-item" href="Leo.html">Leonardo Toledo</a></li>
                        <li><a class="dropdown-item" href="Dario.html">Dario Molina.</a></li>
                        <li><a class="dropdown-item" href="jonathan.html">Jonathan Urquiza</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item dropup">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">Redes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </footer>
    <script src="../../JS/bootstrap.bundle.min.js">BOOTSTRAP</script>
</body>

</html>